<HTML><HEAD>
<STYLE type=text/css>
        body {
            font-family: Calibri;
        }

        p {
            margin: 0;
        }

        .mapping {
            background-color: #D3D4D7;
            color: black;
            padding: 1px;
        }
    </STYLE>
<!-- Instruct the web browser control to use IE 6 to render the page. -->
<META content=IE=6 http-equiv=X-UA-Compatible></HEAD>
<BODY>
<P>Dear Team RPA dan Database,</P>
<P>&nbsp;</P>
<P>Terjadi error pada saat&nbsp;melakukan&nbsp;request pada database dengan&nbsp;message sebagai&nbsp;berikut :</P>
<P>&nbsp;</P>
<P>&nbsp;<SPAN class=mapping contentEditable=false>{{Error}}</SPAN></P>
<P>&nbsp;</P>
<P>Mohon untuk melakukan pengecekan/fixing pada application tersebut.</P>
<P>Atas perhatiannya saya ucapkan terimakasih.</P>
<P>&nbsp;</P>
<P>Regards,</P>
<P>Robotic Process Automation</P></BODY></HTML>